@model BookStore.ViewModels.EditorBookViewModel
@{ ViewBag.Title = "Criando um Novo Livro";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml"; }

@helper MinhaFuncao(string categoria)
{
}

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partials/EditorBookPartial", Model)
    <button type="submit" class="btn btn-primary">Criar</button>}

@section menu{
    <div>
        Criação
        <p>
            <a href="@Url.Action("Index")">Voltar</a>
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}